maps/*.html linguist-vendored
latex/*.tex linguist-vendored

*.py linguist-language=Python
*.html linguist-language=HTML
*.json linguist-language=JSON
*.md linguist-language=Markdown

outputs/* linguist-vendored
notebooks/* linguist-vendored
